{% extends 'base.html' %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <h2>Posts</h2>
    </div>
    <div class="card-body">
      <ul class="list-group">
        {% for post in posts %}
          <li class="list-group-item">
            <h4>{{ post.title }}</h4>
            <p>{{ post.description }}</p>
            <p class="small text-muted">Author: {{ post.author.username }} - {{ post.pub_date }}</p>
            <a href="{% url 'blog:update_post' pk=post.pk %}" class="btn btn-primary btn-sm">Update</a>
            <a href="{% url 'blog:delete_post' pk=post.pk %}" class="btn btn-danger btn-sm">Delete</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <a href="{% url 'blog:add_post' %}" class="btn btn-success mt-2">Add a New Post</a>
{% endblock %}
